.hero-out{
    display: flex;

}
/* #boxle{
    margin-top: 0px;
    margin-left: 420px;
    width: 60px;
    height: 60px;
    
    background-Color: #dde3db;
    border-Radius: 5px;
} */
 .hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 30%;
 }
 .hero-right img{
    /* background-color: red; */
 }
.hero-container{
    /* border: 2px solid yellow; */
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.head{
    width: 440px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: radial-gradient(rgb(210, 284, 202) 21%, transparent 111%);
}

.head h1{
    font-family: 'Luckiest Guy', cursive;
    /* font-family: 'Preahvihear',cursive; */
    /* color: #163317; */
    /* color: rgb(32 56 32); */
    color: rgb(4 24 4);
    font-size: 70px;
    text-decoration:dotted;
    cursor: pointer;
}
.head h1 span{
    margin-left: 10px;
    color: black;
}
.hero-content h3{
    color: rgb(210, 202, 202);
    font-family:cursive;
    /* font-family: 'Preahvihear',cursive; */
    font-size: 36px;
    /* display: none; */
}
.hero-content h3 span{
    color:rgb(125, 184, 125) ;
}
.elli {
    position: fixed;
    z-index: 100;
}
#k{
    padding-left: 60px;
}