.mat-container{
    /* border: 2px solid red; */
    margin: 9% 7%;
    min-height: 40vh;

}
.mat-container h2{
    color: white;
    font-family: cursive;
    padding-bottom: 30px;
}
.card-container{
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.each-card{
    padding: 14px;
    height: 34vh;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 18px;

    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(14px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.each-card .img{
    height: 100%;
    width: 30%;
    border: 2px solid navajowhite;
    border-radius: 18px;
    overflow: hidden;
}
.each-card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.82);
}
.each-card .card-content{
    /* border: 2px solid violet; */
    width: 64%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    gap: 10px;

}
.card-content .whatnuse{
    /* border: 2px solid yellow; */
    height: 30%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 4px;

}
.whatnuse h2{
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    
}
.whatnuse h5{
    margin: 0;
    padding: 0;
    font-weight: 100;
    font-size: medium;
}
.card-content .card-about{
    /* border: 2px solid red; */
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    gap: 2px;
    

}
.card-about h4{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 19px;
    
    font-family:none;
}
.card-about h4 .diff{
    /* color: #333; */
    font-weight: 800;
    font-size: 16px;
    color: aliceblue;
    font-family:none;
}
.card-about button{
    border-radius: 6px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 18px;
    right: 46px;

    color: white;
    font-family: none;
    background-color: rgb(60 192 36);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    height: 38px;
    font-size:20px ;
    font-weight: bold;
    padding: 0px 8px;

}