.what-container{
    /* border: 2px solid red; */
    height: 70vh;
    margin: 1% 6%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.what-container h2{
    color: white;
    font-family: cursive;
    font-size: 40px;
}
.what-container p{
    /* border: 2px solid yellow; */
    color: white;
    font-family: cursive;
    font-size: 26px;
    width: 60vw;
    
}