.what-container{
    /* border: 2px solid red; */
    height: 80vh;
    padding: 1% 6%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.what-container h2{
    color: white;
    font-family: cursive;
    font-size: 40px;
}
.what-container p{
    /* border: 2px solid yellow; */
    color: white;
    font-family: cursive;
    font-size: 26px;
    width: 60vw;
    
}
@media (max-width: 768px) and (orientation: portrait){
    .what-container{
        width: 88%;
        padding-bottom: 70px;
        
    }
    .what-container p{
        width: 100%;
        font-family: "Preahvihear";
    }
    .what-container h2{
        font-family: "Preahvihear";
    }
}