.feature-grid {
    /* width: 100%; */
    /* border: 2px solid peru; */
    height: 66vh;
    padding: 2% 6%;
    /* padding: 1%; */

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 130px;


}

.feature-card {
    display: flex;
    flex-direction: row;
    gap: 4%;
    border: 2px solid cornflowerblue;
    border-radius: 18px;
    /* position: relative; */
    padding: 2%;

    background: linear-gradient(
    135deg,
    #397445,
     #07410c

     /* #448b53, */
      /* #45744e, */ 
      /* #153e19 */
  );

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

}

.feature-card .icon {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid purple; */
}

.card-content {
    /* padding: 4px; */
    color: white;
    width: 60%;
    font-family: cursive;
    display: flex;
    gap: 0px;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid crimson; */
}
.card-content h3{
    font-size: 20px;
}
.card-content p{
    margin-top: 0px;
}
@media (max-width: 768px) and (orientation: portrait){
    .feature-card{
        flex-direction: column;
        align-items: center;
        padding: 7%;
        padding-top: 5%;
        gap: 0%;
    }
    .feature-card .icon{
        width: 100%;
        height: 26%;

    }
    .card-content{
        width: 100%;
        font-family: "Preahvihear";
        
    }
    .feature-grid{
        gap: 10px;
        height: 60vh;
        padding: 2% 3%;
    }
    .icon img{
        width: 80px;
    }
    .card-content h3{
        font-size: 14px;
    }
    .card-content p{
        font-size: 13px;
    }
}