.footer-container{
    /* border: 2px solid red; */
    /* margin-top: 8%; */
    margin: 0% 6%;
    position: relative;
    /* padding-bottom: 20px; */
    height: 76vh;
}
.footer-container h2{
    color: white;
    font-family: cursive;
    font-size: 40px;
}
.footer-container h4{
    color: white;
    font-family: cursive;
    font-size: 24px;
    font-weight: 400;
    width: 60vw;
}
/* .serving-area{

} */
.footer-container .icons{
    /* border: 2px solid red; */
    /* height: 80px; */
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.footer-container .icons .icon{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.icon a{
    /* height: 100%; */
    color: white;
    display: flex ;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
#lit{
    margin: 0;
    padding: 0;
    /* padding-bottom: 26px; */
    color: white;
    position: absolute;
    bottom: 8px;
    right: -1px;
    font-size: 10px;
}

@media (max-width: 768px) and (orientation: portrait){
    .footer-container{
        /* height: 80vh; */
        margin-top: 100px;
        padding-bottom: 50px;
    }
    .footer-container .icons{
        flex-direction: column;
        gap: 2px; 
        
    }
    .footer-container .icons .icon{
        justify-content: left;

    }
    .footer-container h2{
        font-family: "Preahvihear";
        width: 100%;
        font-size: 24px;
    }
    .footer-container h4{
        font-family: "Preahvihear";
        width: 100%;
        font-size: 20px;
    }
    /* .icon a{
        justify-content: left;
    } */
}