.footer-container{
    border: 2px solid red;
    margin: 3% 6%;
    position: relative;
    padding-bottom: 40px;
}
.footer-container h2{
    color: white;
    font-family: cursive;
    font-size: 40px;
}
.footer-container h4{
    color: white;
    font-family: cursive;
    font-size: 24px;
    font-weight: 400;
    width: 60vw;
}
#lit{
    margin: 0;
    padding: 0;
    color: white;
    position: absolute;
    bottom: -1px;
    right: 1px;
}