.nav-container{
    width: 100%;
    height: 54px;
    background-color: rgb(32 56 32);
    display: flex;
    align-items: center;
    padding-left: 1%;
    
}
@media (max-width: 768px) and (orientation: portrait){
    .nav-container{
        padding-left: 3%;
    }
}
/* width: '100%',
height: '56px',
backgroundColor: 'rgb(32 56 32)',
display: 'flex',
alignItems: 'center',
paddingLeft: '1%' */

